* {
    box-sizing: border-box;
}

.container {
    max-width: 75rem;
    margin: 0 auto;
}

.header {
    background-color: wheat;
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    box-shadow: rgba(0, 30, 43, 0.1) 0px 4px 4px 0px;
}

.nav-logo {
    display: flex;
}

.logo {
    display: block;
    height: 85px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 0;

    & li {
        padding: 0 25px;
    }
}

.navbar ul a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 17px;

    &:hover {
        color: white;
    }
}

.home {
    padding-top: 75px;
    height: 85vh;
    color: white;
    text-shadow: 1px 1px 10px black;
    background-image: url('../../public/Greek-Philosophers.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.searchbar {
    margin: 25px 0;
}

.philos {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;

    & img {
        height: 400px;
    }
}

.content {
    margin-top: 50px;
    margin-bottom: 100px;

    & h4 {
        color: wheat;
        font-weight: 700;
        text-shadow: 1px 1px 3px black;

    }
}

.action-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.footer {
    padding: 1%;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: grey;
    color: white;
}

.footer-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-div a {
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
}

.footer-div p {
    margin: 0;
}

.footer-div img {
    width: 30px;
    height: 30px;
    margin: auto;
    display: block;
}